* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.app {
  max-width: 375px;
  max-height: 667px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: auto;
}

.city {
  text-align: center;
}
.city .dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city .dialog input {
  width: 80%;
  height: 36px;
  text-indent: 12px;
}
.city .dialog button {
  width: 40%;
  height: 28px;
  background-color: #fff;
  margin-top: 20px;
}

.RealTime {
  margin-top: 40px;
}
.RealTime > div {
  text-align: center;
  margin-bottom: 10px;
}
.RealTime .temp {
  font-size: 56px;
}
.RealTime .weather {
  font-size: 20px;
}

.WeatherDetails {
  margin-top: 40px;
  display: flex;
  overflow-x: auto;
}
.WeatherDetails .Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 14px;
}
.WeatherDetails .Details > div {
  margin-bottom: 5px;
}
.WeatherDetails .Details .time {
  color: #666;
  font-size: 14px;
}

.Indexes {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc
}
.Indexes .Index {
  flex: 33%;
  text-align: center;
  padding: 12px 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.Indexes .Index:nth-of-type(3n) {
  border-right: none;
}
.Indexes .Index .level {
  font-size: 16px;
  margin-bottom: 10px;
}
.Indexes .Index .name {
  color: #999;
  font-size: 12px;
}